body {
  margin: 0;
}

.container {
  /* display: flex;
  justify-content: center;
  border-radius: 12px; */
  width: 50%;
  height: max-content;
  border-radius: 7px;
  border: 1px solid #8080804a;
  /* border: none; */
  padding: 10px 10px;
  margin: 10px auto;
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 40%);
  -moz-box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 40%);
}

.container:hover {
  box-shadow: 3px 3px 7px 2px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 3px 3px 7px 2px rgb(0 0 0 / 40%);
  -moz-box-shadow: 3px 3px 7px 2px rgb(0 0 0 / 40%);
}

.container__top {
  border-radius: 7px;
  border: 1px solid black;
  width: 180px;
  height: 180px;
  padding: 5px ;
  text-align: center;

  /* centering with flex */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container__top img {
  /* background-color: cornflowerblue; */
  /* width: 75%;
  height: 75%; */
  width: 100%;
  height: 100%;
  border-radius: 25px;

  /* centering */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


button {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background-color: black;
  color: white;

}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;

}